<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #f5f5fa;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        .box{
            margin: 50px 50px;
            padding: 10px;
            width: 250px; 
            max-height: 580px; /* đặt giá trị tối đa cho chiều cao */
            background-color: white;
            border-radius: 10px;
            overflow: auto;
        }
        .box1{
            padding: 5px 10px;
            font-weight: bold;
        }
        .box2{
            height: 40px;
            padding: 10px 10px 5px;
            align-items: center;
            text-align: left;
            display: flex;
        }
        .box2 img{
            margin: 0 5px;
            width: 30px;
            height: 30px;
            border-radius: 10px;
        }
        .box2 a{
            text-decoration: none;
            color: black;
        }
        :hover.box2{
            background-color: #e5e5e6;
            border-radius: 10px;

        }
    /* Tùy chỉnh thanh cuộn trên Chrome và Safari */
        .box::-webkit-scrollbar {
          width: 6px;
        }

        .box::-webkit-scrollbar-thumb {
          background-color: white;
          border-radius: 3px;
        }

        .box::-webkit-scrollbar-thumb:hover {
          background-color: #aaa;
        }
        /* Tùy chỉnh thanh cuộn trên Firefox */
        .container {
          scrollbar-width: thin;
          scrollbar-color: #ccc transparent;
        }

        .container::-webkit-scrollbar-track {
          background-color: transparent;
        }

        .container::-webkit-scrollbar-thumb {
          background-color: #ccc;
          border-radius: 3px;
        }

        .container::-webkit-scrollbar-thumb:hover {
          background-color: #aaa;
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="box1"> <title>Nổi bật</title> </div> 
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/a0/c9/78/cddabc413834de509f40455498c7ff47.png.webp"   alt=""> <a href="#">Tiki ChatGPT</a>  </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/cb/64/f7/0ebb0ae297f052e34a8161c9bf8efb96.png.webp"   alt=""> <a href="#">Astra Reward</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/44/58/fc/804a2dfd610e9075ad5a8f0d13f2b21a.png.webp"   alt=""> <a href="#">Tiki Exchange</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/ae/72/a3/d4503c3ece932dc8c57d2d5c97cd6ffc.png.webp"   alt=""> <a href="#">Giá Rẻ Mỗi Ngày</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/3c/ce/96/db8c083610e45b78d8f7662f0013faa8.png.webp"   alt=""> <a href="#">Xả kho</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/20/68/cf/6d4adbdbcd1c35b0a438a655d9a420d0.png.webp"   alt=""> <a href="#">Mã giảm giá</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/1e/27/a7/e2c0e40b6dc45a3b5b0a8e59e2536f23.png.webp"   alt=""> <a href="#">Ưu đãi thẻ, ví</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/4d/a3/cb/c86b6e4f17138195c026437458029d67.png.webp"   alt=""> <a href="#"> Đóng tiền, nạp thẻ</a></div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/tmp/6f/4e/41/93f72f323d5b42207ab851dfa39d44fb.png.webp"      alt=""> <a href="#">Mua trước trả sau</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
    </div>
    <div class="box">
        <div class="box1"><title>Danh mục</title> </div> 
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/category/13/64/43/226301adcc7660ffcf44a61bb6df99b7.png.webp" alt=""> <a href="#">Đồ Chơi - Mẹ & Bé</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/category/1e/8c/08/d8b02f8a0d958c74539316e8cd437cbd.png.webp" alt=""> <a href="#">Ngon</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/category/54/c0/ff/fe98a4afa2d3e5142dc8096addc4e40b.png.webp" alt=""> <a href="#">Điện Thoại - Máy Tính Bảng</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/category/73/0e/89/d7ca146de7198a6808580239e381a0c8.png.webp" alt=""> <a href="#">Làm Đẹp - Sức Khỏe</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/category/61/d4/ea/e6ea3ffc1fcde3b6224d2bb691ea16a2.png.webp" alt=""> <a href="#">Điện Gia Dụng</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/category/55/5b/80/48cbaafe144c25d5065786ecace86d38.png.webp" alt=""> <a href="#">Thời trang nữ</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/category/00/5d/97/384ca1a678c4ee93a0886a204f47645d.png.webp" alt=""> <a href="#">Thời trang nam</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/category/cf/ed/e1/96216aae6dd0e2beeb5e91d301649d28.png.webp" alt=""> <a href="#">Giày - Dép nữ</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/category/d6/7f/6c/5d53b60efb9448b6a1609c825c29fa40.png.webp" alt=""> <a href="#">Giày - Dép nam</a> </div>
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#">Bảo hiểm Tiki360</a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
        <div class="box2"><img src="https://salt.tikicdn.com/cache/100x100/ts/upload/6f/d0/68/76b6c01998c3f45f70b843c390097690.png.webp"   alt=""> <a href="#"> Bảo hiểm Tiki360 </a> </div>           
    </div>
</body>
</html>